.a1 {
  background-color: black;

  color: aliceblue;
  text-align: right;
}
h1 {
  font-size: xx-large;
  text-align: left;
  color: aliceblue;
}
.a2 {
  background-color: bisque;
  text-align: left;
}
img {
  width: 150px;
  border: 10px solid rgb(19, 5, 19);
}
p1 {
  font-size: x-large;
}
h2 {
  background-color: black;
  color: aliceblue;
  border: 2px solid rgb(26, 24, 24);
}
a3 {
  border: 10px solid rgb(19, 5, 19);
}
